<p>
  <b>Prikey:</b>
  <%=h @flightline.prikey_id %>
</p>

<p>
  <b>Fltcombin:</b>
  <%=h @flightline.fltcombin %>
</p>

<p>
  <b>Traveltype:</b>
  <%=h @flightline.traveltype %>
</p>


<%= link_to 'Edit', edit_flightline_path(@flightline) %> |
<%= link_to 'Back', flightlines_path %>