<p>
  <b>Flightline:</b>
  <%=h @price.flightline_id %>
</p>

<p>
  <b>Hashid date:</b>
  <%=h @price.hashid_date %>
</p>

<p>
  <b>Hashvalue price:</b>
  <%=h @price.hashvalue_price %>
</p>


<%= link_to 'Edit', edit_price_path(@price) %> |
<%= link_to 'Back', prices_path %>