<h1>New segment</h1>

<% form_for(@segment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :flightline_id %><br />
    <%= f.text_field :flightline_id %>
  </p>
  <p>
    <%= f.label :segnum %><br />
    <%= f.text_field :segnum %>
  </p>
  <p>
    <%= f.label :segmentinfo %><br />
    <%= f.text_area :segmentinfo %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', segments_path %>